<section id="main" ng-show="enabled">
    <input id="toggle-all"
           type="checkbox"
           ng-class="{ 'checked': areAllComplete }"
           ng-change="onToggleCompleteAll()"
           ng-model="complete" />
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
        <li ng-repeat="todo in allTodos" ng-class="{ 'completed': todo.complete }" ng-class="{ 'editing': isEditing }" key="{{ todo.id }}">
            <todo-item todo="todo"></todo-item>
        </li>
    </ul>
</section>